/* //////////////////////////////////////////////////GLOBAL///////////////////////////////////////////////////////////// */
@font-face {
    font-family: Manrope;
    src: url(./fonts/manrope.woff);
}

@font-face {
    font-family: Supermarket;
    src: url(./fonts/supermarket.woff);
}

* {
    padding: 0px;
    margin: 0px;
    top: 0px;
}

/* html{
    overflow-y: hidden;
} */

hr {
    width: 90%;
    height: 1px;
    border: none;
    background-color: black;
    margin: 0.125vw auto 0.125vw auto;
}

.block {
    display: block;
}

.link {
    color: black;
    text-decoration: none;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
}


.BG {
    opacity: 0.2;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -2;
    width: 100%;
}

.border {
    border: 3px solid black;
}

img.background {
    width: 100%;
}

.vertical-center {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.horizontal-center {
    text-align: center;
}

.row-flex {
    display: flex;
    flex-direction: row;
    /* overflow: hidden; */
}

.column-flex {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

p.title {
    font-size: 4vw;
}

.textM {
    font-family: Manrope, Helvetica, Arial, sans-serif;
}

.textS {
    font-family: Supermarket, Helvetica, Arial, sans-serif;
}

input {
    border: none;
}

::-ms-clear,
::-ms-reveal {
    display: none;
}

textarea {
    border: none;
    overflow: hidden;
    resize: none;
}

button:hover {
    opacity: 0.8;
}


.fullWidth {
    width: 100%;
}

.none {
    display: none;
}

.hidden {
    visibility: hidden;
}


/* //////////////////////////////////////////////////WELCOME///////////////////////////////////////////////////////////// */
h1.title {
    font-family: Manrope, Helvetica, Arial, sans-serif;
    font-size: 9vw;
    padding-top: 0px;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.container {
    position: relative;
    text-align: center;
}

button.start {
    text-align: center;
    background-color: #9c1402;
    color: white;
    padding: 8px;
    width: 25vw;
    font-size: 3vw;
    border-radius: 20px;
    font-weight: 700;
    position: relative;
}

/* //////////////////////////////////////////////////LOGIN///////////////////////////////////////////////////////////// */
button.login {
    width: 10vw;
    color: white;
    border-radius: 8px;
    background-color: #4a362b;
    margin: 0px 1.5vw 0px 1.5vw;
    font-size: 2vw;
}

input.user,
input.pass {
    padding: 0.5vw 1.2vw 0.5vw 1.2vw;
    margin: 0px 0px 0.8vw 0px;
    width: 100%;
    height: 3vw;
    font-size: 1.5vw;
    text-indent: 2.8vw;
    border-radius: 6px;
    background-color: #ebc27c;
    border: 0.15vw solid #ebc27c;
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
}

input.user {
    background-image: url(./images/mail.png);
}

input.pass {
    background-image: url(./images/lock.png);
}

label.left {
    text-align: left;
    font-size: 2.2vw;
    display: block;
    margin: 0px 0px 0.2vw 0px;
}

div.error {
    font-size: 1.7vw;
}

.tippy-tooltip.error-theme {
    font-family: Supermarket, Helvetica, Arial, sans-serif;
    color: white;
    background-color: red;
    padding-top: 0px;
    padding-bottom: 0px;
}

.tippy-popper[x-placement="left"] .tippy-tooltip.error-theme [x-arrow] {
    border-left: 7px solid red;
}

.tippy-popper[x-placement="right"] .tippy-tooltip.error-theme [x-arrow] {
    border-right: 7px solid red;
}

form.form-login-center {
    position: relative;
    left: 30%;
    width: 40%;
    text-align: left;
}

button.login-close {
    width: 1vw;
    height: 1vw;
}

button.close {
    background-image: url('./images/close.png');
}

button.hidePassword,
button.showPassword,
button.close {
    background-color: rgba(0, 0, 0, 0);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

button.login-hidePassword,
button.login-showPassword {
    width: 2vw;
    height: 2vw;
}

button.hidePassword {
    background-image: url(./images/hide.png);
}

button.showPassword {
    background-image: url(./images/eye.png);
}

/* //////////////////////////////////////////////////REGISTER////////////////////////////////////////////////////////// */
div.register-label-box {
    width: 25%;
}

div.form-register-center {
    width: 55%;
    position: relative;
    left: 22.5%;
    text-align: left;
}

form.form-register-center {
    padding: 2vw 0.25vw 2vw 2vw;
    background-color: #ebc27c;
    border-radius: 6px;
    margin-bottom: 6vw;
}

label.register {
    font-size: 1.5vw;
    display: flex;
    align-self: center;
    position: relative;
}


img.icon {
    width: 40%;
    cursor: pointer;
    margin: 0.25vw 0px -0.5vw 1.25vw;
    top: -0.25vw;
    position: relative;
}

button.register {
    width: 0.9vw;
    height: 0.9vw;
}

textarea.error,
input.error {
    border: 0.15vw solid red;
}

div.info {
    font-size: 1vw;
    padding: 0.2vw;
    text-align: left;
}

.tippy-tooltip.info-theme {
    font-family: Supermarket, Helvetica, Arial, sans-serif;
    color: white;
    background-color: #4a362b;
    padding-top: 0px;
    padding-bottom: 0px;
}

.tippy-popper[x-placement="top"] .tippy-tooltip.info-theme [x-arrow] {
    border-top: 7px solid #4a362b;
}

.tippy-popper[x-placement="bottom"] .tippy-tooltip.info-theme [x-arrow] {
    border-bottom: 7px solid #4a362b;
}

div.errorText {
    color: red;
    font-size: 1.1vw;
    text-indent: 0.7vw;
}

div.top {
    align-content: flex-start;
}

/* //////////////////////////////////////////////////HOME////////////////////////////////////////////////////////////// */
.head_home {
    font-size: 4vw;
    color: #814a2d;
}

.img_menu {
    position: absolute;
    left: 34vw;
    width: 7vw;
}

.img_shop {
    position: absolute;
    right: 34vw;
    width: 7vw;
}

.box {
    position: relative;
    display: flex;
    height: 30vw;
    justify-content: center;
    margin-top: 2.5vw;
    font-size: 1.5vw;
}

.box_menu {
    height: 23vw;
    width: 19vw;
    border-radius: 0.5vw;
    background-color: #ebc27c;
    margin: 3vw;
    box-shadow: 0.1vw 0.1vw 0.5vw #707070;
}

.text_menu {
    font-size: 3.8vw;
    margin-top: 6vw;
}

.text_shop {
    font-size: 3.8vw;
    margin-top: 6vw;
}
.gray {
    opacity: 0.4;
    cursor: default;
}
.normal {
    cursor: pointer;
}

button.gray:hover {
    opacity: 0.4;
}
/* //////////////////////////////////////////////////About////////////////////////////////////////////////////////////// */

h1.aboutUs {
    font-size: 4vw;
}

div.us {
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
}

div.us>div {
    padding-left: 0vw;
    margin-right: 2vw;
}

/* //////////////////////////////////////////////////Navbar///////////////////////////////////////////////////////////// */
div.navbar {
    position: fixed;
    width: 100%;
    height: 2vw;
    background-color: #D6C4BA;
    padding: 0.5vw;
    z-index: 10;
    /* box-shadow: 0.1vw 0.1vw 0.5vw #707070; */
}

div.dropdown {
    display: none;
}

div.dropdown-none,
div.dropdown-block {
    position: fixed;
    background-color: #D6C4BA;
    top: 3vw;
    width: 12vw;
    padding: 1vw 0 0.5vw 0;
    z-index: 2;
}

div.dropdown-block {
    animation: dropdown 0.25s linear 0s 1 normal forwards;
}

div.dropdown-none {
    animation: dropdownR 0.25s linear 0s 1 normal forwards;
}

@keyframes dropdownR {
    0% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }

    100% {
        opacity: 0;
        transform: translateY(-3vw);
        visibility: hidden;

    }
}

@keyframes dropdown {
    0% {
        opacity: 0;
        transform: translateY(-3vw);
        visibility: hidden;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;

    }
}


.dropdown-content {
    font-size: 1.4vw;
    width: 100%;
    text-indent: 1vw;
}

.dropdown-content:hover {
    background-color: #707070;
    color: white;
}


/* //////////////////////////////////////////////////MenuPage/////////////////////////////////////////////////////////// */
div.menu-page {
    align-items: center;
}

h1.menuPage_title {
    font-size: 4vw;
    margin-bottom: 2vw;
}


/* ////////////////////////////////////////////////////MenuList///////////////////////////////////////////////////////////// */

div.menu-container {
    width: 50vw;
    margin: 0 0 2vw 0;
}

div.menu-title {
    background-color: #ebc27c;
    width: 22vw;
    box-sizing: content-box;
    border-radius: 0.5vw;
    text-align: center;
    font-size: 2.25vw;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

}

.menu-link {
    font-size: 1.5vw;
}

img.menu-icon {
    width: 2.25vw;
    margin: 1.2vw 2vw 0 1vw;
}

img.menu {
    width: 25vw;
    height: 12vw;
    object-fit: cover;
    margin: 0 2vw 0 0;
    border-radius: 0.5vw;
}

/* ///////////////////////////////////////////////RegionalMenu////////////////////////////////////////////////////////// */

.region-link {
    width: 14vw;
    height: 18vw;
    margin: 0 3vw 0 0;
    background-color: #ebc27c;
    border-radius: 0.5vw;
    justify-content: center;
}

div.region-title {
    text-align: center;
    color: white;
    font-size: 2vw;
    margin: 0.5vw 0 0 0;
}

div.region-more {
    text-align: center;
    margin: 0.5vw 0 0.5vw 0;
    font-size: 2vw;
}

img.region-img {
    object-fit: cover;
    width: 100%;
    height: 10vw;

}

div.region-container {
    margin: 14vw 0 4vw 3vw;
}

/* /////////////////////////////////////////////////////Slideshow/////////////////////////////////////////////////////// */

div.slide-container {
    /* margin: 0 0 3vw 0; */
    /* width: 100; */
}

div.slide {
    width: 50%;
}

/* ////////////////////////////////////////////////////BuyProduct/////////////////////////////////////////////////////// */

.storeBox {
    position: relative;
    display: flex;
    width: 50vw;
    border-radius: 0.5vw;
    margin: auto;
    margin-bottom: 2.5vw;
}

.imgFood {
    width: 12vw;
    height: 12vw;
    margin: 2vw 1vw 2vw 3vw;
    object-fit: cover;
    border-radius: 0.5vw;
}

.nameOfProduct {
    font-size: 1.8vw;
}

.productDetail {
    width: 30vw;
    padding: 2vw 2vw 0 2vw;
    line-height: 3vw;
    font-size: 1.5vw;
}

.addToCartButton {
    width: 13vw;
    height: 2.8vw;
    border: none;
    border-radius: 0.5vw;
    color: white;
    font-size: 1.5vw;
    display: block;
    margin: 1vw 17.5vw;
}

.cartImg {
    width: 1.8vw;
    padding: 0.5vw;
    margin-right: 0.75vw;
    margin-left: -0.5vw;

}

input.radio {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input.radio~span {
    background-color: white;
    color: black;
    text-align: middle;
    margin: 0 1vw 0 0;
    border: 3px solid white;
    padding: 0 0.5vw 0 0.5vw;
    cursor: pointer;
}

input.radio:checked~span {
    border: 3px solid #4A362B;
    box-shadow: 2px 2px 3px #4A362B;
}


/* ////////////////////////////////////////////////////Input//////////////////////////////////////////////////////////// */

input.button {
    width: 2.5vw;
    height: 2.6vw;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5vw;
    background-color: white;
    border: 0.05vw groove black;
    cursor: pointer;
}

input.button:active {
    border: none;
    background-color: #F0F0F0;
}

input.numOfProduct {
    width: 5vw;
    height: 2.5vw;
    font-size: 1.5vw;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border: 0.05vw groove black;
    border-left: none;
    border-right: none;
}

textarea.register,
input.register {
    font-size: 1.5vw;
    border: 0.15vw solid white;
}

/* //////////////////////////////////////////////////MenuDetials//////////////////////////////////////////////////////// */

h1.menu-title {
    font-size: 4vw;
    text-align: center;
}

img.menu_icon {
    margin: 0 2vw 0 0;
    width: 3vw;
}

div.menu-ingredients {
    width: 50%;
    background-color: #814A2C;
    color: aliceblue;
    margin-left: calc(25% - 1vw);
    margin-right: calc(25% - 1vw);
    border-radius: 1vw;
    justify-content: space-between;
    padding: calc(1% - 1vw) 1% 1% 1%;
    opacity: 0.95;
}

div.steps {
    border-radius: 1vw;
    padding: 1vw 4vw 2vw 4vw;
    color: aliceblue;
    box-sizing: border-box;
    width: 70%;
    background-color: #4A362B;
    margin: 1% 15% 2.5vw 15%;
    padding-top: 2%;

}

div.step-title {
    border-radius: 0.5vw;
    position: relative;
    left: -4.5vw;
    background-color: #EBC27C;
    text-align: center;
    width: 8vw;
    padding: 0.25vw;
    margin: 0 0 1vw 0;
    color: black;
}

/* /////////////////////////////////////////////////////Shop/////////////////////////////////////////////////////////// */

h1.shop-title {
    font-size: 4vw;
    text-align: center;
    margin: 0 0 1vw 0;
}

.shop {
    margin-left: 4%;
    margin-bottom: 4%;
    border: 2px solid #EBC27C;
    float: left;
    width: 20%;
    border-radius: 0.5%;
}

.shop:hover {
    border: 2px solid #814A2C;
    box-shadow: 10px 10px 20px #707070;
}

.cover {
    width: 98%;
    height: 20vw;
}

div.shop img {
    width: 100%;
    height: 100%;
    margin: 1%;
    object-fit: cover;
}

div.shop-box {
    font-size: 2vw;
    padding: 1%;
    text-align: center;
    background-color: #EBC27C;
}

div.des {
    font-size: 1.2vw;
    padding: 2%;
}

p.address {
    text-align: right;
    color: rgb(109, 103, 103);
}

div.des p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75ch;
}

span {
    content: "\2606";
    content: "\2605";
    content: "\2661";
    /* font-size: 3vw; */
}

/* ////////////////////////////////////////////////////Loading///////////////////////////////////////////////////////// */

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: black;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* /////////////////////////////////////////////////OrderDetails/////////////////////////////////////////////////////// */

.OrderList-cover {
    width: calc(0vw + 12%);
    height: 6vw;
    background-color: white;
    border: 1px solid white;
    margin: calc(0vw + 1%);
}

.OrderList {
    background-color: #EBC27C;
    width: calc(0vw + 60%);
    margin: calc(0vw + 1%) calc(0vw + 20%) 0% calc(0vw + 20%);
    border-radius: 0.5vw;
    display: flex;
    flex-direction: row;
}

div.OrderList img {
    width: 100%;
    height: 100%;
    margin: calc(0vw + 1%);
    object-fit: contain;
}

.OrderList p {
    /* margin: 5.5% 0% 0% 5%; */
    font-size: 1.5vw;
    /* border: 2px solid yellow; */
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15ch;
    white-space: nowrap;
}

.OrderList-box {
    width: 20%;
    /* background-color: violet; */
    display: flex;
    align-items: center;
    margin: 1%;
}


.payment {
    width: 80vw;
    height: 5vw;
    margin-left: 10vw;
    /* border: calc(0vw + 10px) solid black; */
    display: flex;
    justify-content: space-around;
}

.PaymentField-container {
    display: flax;
    position: relative;
    padding-left: calc(0vw + 20%);
    cursor: pointer;
    color: black;
    font-size: 1.5vw;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.PaymentField-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 3.2vw;
    width: 100%;
    padding: 0.2vw;
    background-color: #eee;
    border: 1px solid #ccc
}

.checkmark img {
    width: calc(0vw + 20%);
    height: 3.2vw;
}

.checkmark p {
    padding: calc(0vw + 1.5%) 0% 0% calc(0vw + 5%);
}

.PaymentField-container:hover input~.checkmark {
    background-color: #ccc;
    border: calc(0vw + 1px) solid #4A362B;
}


.PaymentField-container input:checked~.checkmark {
    background-color: #ccc;
    border: calc(0vw + 1px) solid #4A362B;
    box-shadow: calc(0vw + 2px) calc(0vw + 2px) calc(0vw + 1px) #707070;
}


.checkmark:after {
    position: absolute;
    display: none;
}


.PaymentField-container input:checked~.checkmark:after {
    display: inline;
}


.PaymentField-container .checkmark:after {
    padding: calc(0vw + 1%) 0% 0% calc(0vw + 90%);
    content: "\2713";


}

button.Order {
    width: 10vw;
    color: white;
    border-radius: calc(0vw + 8px);
    background-color: #4a362b;
    position: relative;
    margin: 0px 1.5vw calc(0vw + 5%) 75.5vw;
    font-size: 2vw;
}

/* ////////////////////////////////////////////////PaymentDetails///////////////////////////////////////////////////// */

.MySales {
    background-color: #EBC27C;
    width: 10%;
    font-size: 1.5vw;
    text-align: center;
    margin-left: 15%;
    border-radius: 5px;
}

.MySalesField {
    width: calc(0vw + 60%);
    margin: calc(0vw + 1%) calc(0vw + 20%) 0% calc(0vw + 20%);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.MySalesField img {
    width: calc(0vw + 2.8%);
    height: 1.5vw;
}

.payment_text {
    padding-left: 1vw;
    font-size: 1.1vw;
    color: white;
}

.TimeAndDate {
    margin-top: calc(0vw + 13%);
    color: #DADADA;
    font-size: 1vw;
}

button.MySales {
    width: calc(0vw + 20%);
    color: white;
    border-radius: calc(0vw + 8px);
    background-color: #4a362b;
    margin: calc(0vw + 1%) 0% calc(0vw + 2%) calc(0vw + 40%);
    padding: calc(0vw + 0.5%);
    font-size: 1.5vw;
}

/* //////////////////////////////////////////////////EmptyCart/////////////////////////////////////////////////////// */

.emptyCart {
    font-size: 2vw;
}

.BGEmptyCart {
    width: 100%;

    position: fixed;
    z-index: -10;
    opacity: 0.1;
}

.letShop {
    margin-top: calc(0vw + 8%);
}

.letShopT {
    font-size: 3vw;
}

.aloneCart {
    width: 15vw;
}

button.letShopB {
    width: 10vw;
    color: white;
    border-radius: calc(0vw + 8px);
    background-color: #814A2C;
    margin: 0px 1.5vw 0px 1.5vw;
    font-size: 2vw;
    margin-top: 1vw;
}

/* //////////////////////////////////////////////////EmptyCart/////////////////////////////////////////////////////// */

.galleryContainer {
    margin: auto;
    width: 100%;
    height: 30vw;
    max-width: 60vw;
    user-select: none;
    box-shadow: 0vw 0vw 0.2vw 0.1vw #282c34;
    padding: 1vw;
    box-sizing: border-box;
}

.slideShowContainer {
    margin-bottom: 1vw;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #707070;
    position: relative;
}

.imageHolder {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

.imageHolder img {
    width: 100%;
    height: 100%;
}

.arrowL {
    position: absolute;
    width: 3vw;
    height: 3vw;
    margin: 13vw -5vw;
    top: 12vw;
    z-index: 1;
    cursor: pointer;
}

.arrowR {
    position: absolute;
    width: 3vw;
    height: 3vw;
    margin: 13vw 60vw;
    top: 12vw;
    z-index: 1;
    cursor: pointer;
}

.galleryContainer .moveLeftCurrentSlide {
    animation-name: moveLeftCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.galleryContainer .moveLeftNextSlide {
    animation-name: moveLeftNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes moveLeftCurrent {
    from {
        margin-left: 0;
        opacity: 1;
    }

    to {
        margin-left: -100%;
        opacity: 1;
    }
}

@keyframes moveLeftNext {
    from {
        margin-left: 100%;
        opacity: 1;
    }

    to {
        margin-left: 0%;
        opacity: 1;
    }
}

.galleryContainer .moveRightCurrentSlide {
    animation-name: moveRightCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.galleryContainer .moveRightPrevSlide {
    animation-name: moveRightPrev;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes moveRightCurrent {
    from {
        margin-left: 0;
        opacity: 1;
    }

    to {
        margin-left: 100%;
        opacity: 1;
    }
}

@keyframes moveRightPrev {
    from {
        margin-left: -100%;
        opacity: 1;
    }

    to {
        margin-left: 0%;
        opacity: 1;
    }
}

.galleryContainer #dotsContainer {
    position: relative;
    left: -1vw;
    width: 60vw;
    height: 10vw;
    text-align: center;
    padding-top: 1vw;
    box-sizing: border-box;
    /* margin-bottom: 10vw; */
}

.galleryContainer #dotsContainer .slideImg {
    margin-left: 1vw;
    cursor: pointer;
    width: 14.25vw;
    opacity: 45%
}

.galleryContainer #dotsContainer .slideImg1 {
    cursor: pointer;
    width: 14.25vw;
    opacity: 45%
}

.galleryContainer #dotsContainer .slideImg:hover,
.galleryContainer #dotsContainer .slideImg.active,
.galleryContainer #dotsContainer .slideImg1:hover,
.galleryContainer #dotsContainer .slideImg1.active {
    opacity: 1;
}

.imageDown {
    position: relative;
    margin: 3vw 0vw 0vw -11vw;
    width: 80vw;
    height: 10vw;
    display: flex;
    justify-content: center;
}

/* ///////////////////////////////////////////////////EmptyBuy//////////////////////////////////////////////////////// */

.emptyBuy {
    font-size: 2vw;
}

.BGEmptyBuy {
    width: 100%;
    ;
    position: fixed;
    z-index: -10;
    opacity: 0.1;
}

.letBuy {
    margin-top: calc(0vw + 8%);
}

.letBuyT {
    font-size: 3vw;
}

.businessIcon {
    width: 15vw;
}

button.letBuyB {
    width: 10vw;
    color: white;
    border-radius: calc(0vw + 8px);
    background-color: #814A2C;
    margin: 0px 1.5vw 0px 1.5vw;
    font-size: 2vw;
    margin-top: 1vw;
}

/* ///////////////////////////////////////////////////Notification//////////////////////////////////////////////////// */
.emptyNoti {
    font-size: 2vw;
}

.BGEmptyNoti {
    width: 100%;
    ;
    position: fixed;
    z-index: -10;
    opacity: 0.1;
}

.letNoti {
    margin-top: 8%;
}

.letNotiT {
    font-size: 3vw;
}

.smartphone {
    width: 15vw;
}

.Notification {
    font-size: 2.5vw;
    background-color: #814A2C;
    display: flex;
    border-radius: calc(0vw + 5px);
    width: calc(0vw + 60%);
    margin: calc(0vw + 0.5%) calc(0vw + 20%) 0% calc(0vw + 20%);
    color: aliceblue;
    padding: calc(0vw + 1%);
}

.Notification img {
    width: calc(0vw + 4%);
    height: 2.5vw;
    margin: calc(0vw + 0.9%) calc(0vw + 3%) 0% calc(0vw + 8%);

}

h2.notification {
    font-size: 2vw;
    font-weight: lighter;
}

.Notification p {
    font-size: 1vw;
    color: #DADADA;
    width: calc(52vw - 9%);
    word-wrap: break-word;
    white-space: normal;
    word-break: break-all;
}
div.clickable {
    cursor: pointer;
}

/* ////////////////////////////////////////////////////MyShopField///////////////////////////////////////////////////// */

.MyShop{
    width: calc(0vw + 70%);
    margin-left: calc(0vw + 15%);
}
.shopcover{
    width: calc(0vw + 20%);
    height: 13.5vw;
    
}
.shopcover img{
    width: 100%;
    height: 13.5vw;
    object-fit: cover;
    
}
.MyShopdes{
    width: calc(0vw + 79%);
    margin-left: calc(0vw + 1%);
    border: 2px solid #4A362B;
    background-color: white;
}
.MyShopdes p{
    font-size: 1.2vw;    
    color: black;
}
.MyShopH{
    width: 100%;
    height: 3vw;
    background-color: #4A362B;
}
.MyShopH p{
    font-size: 1.5vw;    
    color: white;
    
}
.MyShopH img{
    margin: calc(0vw + 0.5%) calc(0vw + 3%) 0% calc(0vw + 2%);
    width: calc(0vw + 3.5%);
    float: left;
}